@import url("https://fonts.googleapis.com/css?family=Iceland");
@import "./_media_query.styl";
/**
 * animation-setting(delay)
 * @param {int} delayの秒数(ms)していなしで0ms
 */
body {
  background: #000;
  margin: 0;
  transition-delay: 200ms;
  transition-duration: 800ms;
  transition-timing-function: ease;
}
#first-view {
  width: 70%;
  margin: 0 auto;
  background: #000;
}
#first-view header {
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
#first-view header #blind-cover {
  transition-duration: 800ms;
  transition-delay: 200ms;
  transition-timing-function: ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  z-index: 1;
}
#first-view header:before {
  padding: 100%;
}
#first-view header:after {
  content: "";
}
#first-view header #logo1,
#first-view header #logo2 {
  transition-duration: 800ms;
  transition-timing-function: ease;
  position: absolute;
  width: 100%;
  margin: auto 0;
}
#first-view header #logo1 {
  z-index: 3;
  opacity: 1;
}
#first-view header #logo1 #animation-svg {
  position: relative;
  width: 100%;
  height: auto;
}
#first-view header #logo2 {
  z-index: 2;
  opacity: 0;
  height: 100%;
  position: absolute;
  left: 50%;
}
#first-view header #logo2 img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.container {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/back/bgd.png");
}
.area {
  font-family: arial, sans-serif;
  font-weight: lighter;
  width: 100%;
  padding: 2em;
  padding: 10em;
  position: relative;
  box-sizing: border-box;
  display: flex;
  background-attachment: fixed;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
.area .right {
  box-sizing: border-box;
  width: 50%;
  margin-left: 50%;
}
#event {
  background-image: url("../img/back/back-event-ink.svg");
  color: #fff;
}
#event img {
  margin-top: 2em;
  display: block;
  width: 100%;
}
#event h2 {
  font-family: 'Iceland', cursive;
  font-size: 3em;
  margin: 0 auto;
}
#event .description {
  text-align: center;
  padding-left: 1em;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0.8em;
}
#event ul {
  text-align: center;
  list-style: none;
  font-weight: lighter;
}
#event .map-feild {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#event .map-feild iframe,
#event .map-feild object,
#event .map-feild embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#act {
  background-image: url("../img/back/back-act-ink.svg");
  color: #fff;
}
#act #vocal {
  margin-bottom: 5em;
}
#act #vocal h2 {
  font-family: 'Iceland', cursive;
  font-size: 4em;
  margin: 0 auto;
}
#act #vocal h3 {
  padding-left: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
  display: inline;
}
#act #band-member h2 {
  margin-bottom: 1em;
  font-family: 'Iceland', cursive;
  font-size: 4em;
  margin: 0 auto;
}
#act #band-member .member-info {
  margin-top: 1em;
  margin-bottom: 2em;
  overflow: auto;
}
#act #band-member .member-info .l,
#act #band-member .member-info .r {
  width: 50%;
  box-sizing: border-box;
  float: left;
}
#act #band-member .member-info a {
  color: #156c9a;
}
#act #band-member .member-info a:hover {
  color: #10587e;
}
#act #band-member .member-info h3 {
  text-align: center;
  font-size: 2em;
  margin: 0;
}
#act #band-member .member-info img {
  width: 70%;
  margin: 0 auto;
  border-radius: 100%;
  display: block;
}
#act #band-member .member-info ul {
  list-style: none;
}
#act #band-member .member-info ul li {
  word-break: keep-all;
  display: inline;
  margin-right: 1em;
}
footer {
  font-family: arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  color: #6f6f6f;
}
footer a {
  color: #6f6f6f;
}
footer a:hover {
  color: #969696;
}
