.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10 {
  float: left;
}

.c1 {
  width: 10%;
}

.c2 {
  width: 20%;
}

.c3 {
  width: 30%;
}

.c4 {
  width: 40%;
}

.c5 {
  width: 50%;
}

.c6 {
  width: 60%;
}

.c7 {
  width: 70%;
}

.c8 {
  width: 80%;
}

.c9 {
  width: 90%;
}

.c10 {
  width: 100%;
}

.p2 {
  width: 50%;
}

.p3 {
  width: 33.3%;
}

.p4 {
  width: 25%;
}

.p5 {
  width: 20%;
}

.p6 {
  width: 16.67%;
}

.p7 {
  width: 14.29%;
}

.p8 {
  width: 12.5%;
}

.p9 {
  width: 11.11%;
}

.p10 {
  width: 10%;
}
