@import './responsive.scss';

html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium', meiryo, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

header {
  @include mq(pc) {
    #sm-menu {
      display: none;
    }
    width: 80%;
    margin-left: 10%;
    padding-left: 0;
    margin-top: 0;
    height: 70px;
    background-color: rgb(167, 167, 167);
  };
  @include mq(sm) {
    display: none;
    height: 0px
  };

  ul {
    padding-left: 0;
    list-style: none;

    :last-child {
      border: none;
    }

    li {
      float: left;
      width: 16.66%;
      margin: auto;
      border-right: solid 1px black;
      box-sizing: border-box;
      transition: all 1s  ease;

      :hover {
        background-color: #797979;
      }

      a {
        text-decoration: none;
        font-family: 'Poiret One', cursive;
        font-size: 2em;
        font-weight: lighter;
        display: block;
        line-height: 70px;
        margin: auto;
        color: black;
        text-align: center;
      }
    }

    li:last {
      border-right: none;
    }
  }
}
#logo{
  display: none;
  img{
    width: 100%
  }
}
#logo.pc{
  @include mq(pc){
    display: block;
  }
}
#logo.sm{
  @include mq(sm){
    display: block;
  }
}
.area {
  margin-bottom: 2em;
  float: none;
  margin-top: 2em;
  background-color: rgb(71, 71, 71);
  @include mq(pc) {
    width: 80%;
    margin-left: 10%;
  };
  @include mq(sm) {
    width: 100%;
    margin-left: 0;
  }

  .s {
    @include mq(pc) {
      margin: 2em;
      padding: 1em 0;
    }
    @include mq(sm) {
      margin: 1em;
      padding: inherit inherit 2em;
      padding-bottom: 0.5em;
    }

    h1 {
      // font-family: 'Josefin Sans', sans-serif;
      font-family: 'Poiret One', cursive;
      margin-top: initial;
      font-size: 3em;
    }
  }

  p.title {
    font-size: 2em;
  }

  p.text {
    font-size: 1em;
  }

  #about {
    .youtube-field {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      margin-bottom: 1em;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    h2 {
      // font-family: 'Josefin Sans', sans-serif;
      font-family: 'Poiret One', cursive;
    }

    .text {
      @include mq(pc) {
        width: 70%;
        float: left;
        margin: 0;

        p {
          margin-top: 16px;
          padding-left: 40px;
          text-align: center;
        }
      }
    }

    .actor {
      @include mq(pc) {
        padding-left: 5%;
        width: 20%;
        float: left;

        h2 {
          margin-bottom: 0;
          padding-bottom: 0;
        }

        ul {
          margin-top: 16px;
          padding-left: 40px;

          li {
            list-style: none;
          }
        }
      }
      @include mq(sm) {
        ul {
          margin-top: 16px;
          padding-left: 0;

          li {
            list-style: none;
            float: left;
            margin-right: 1em;
          }
        }
      }
    }

    :after {
      content: "";
      clear: both;
      display: block;
    }
  }

  #news {
    table {
      width: 100%;

      tbody {
        position: relative;
        // :last-child{
        //   border-bottom: none;
        // }
        tr {
          // padding-left: 20px;
          width: 100%;
          display: block;
          box-sizing: border-box;
          height: 2em;
          line-height: 2em;
          border-bottom: solid 1px grey;

          td {
            padding: 0 20px;
            display: none;
            float: left;
          }

          td.sm {
            @include mq(sm) {
              display: block;
            };
          }

          td.pc {
            @include mq(pc) {
              display: block;
            };
          }

          td.title {
            display: block;
          }
        }
      }
    }

    :after {
      content: "";
      clear: both;
      display: block;
    }
  }

  #access {
    .map-field {
      position: relative;
      width: 100%;
      padding-top: 56.25%;

      iframe {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #gallery {
    p {
      padding-left: 40px;
    }
  }

  #links {
    #twitter {
      @include mq(sm) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      @include mq(pc) {
        width: 35%;
        box-sizing: border-box;
        border-right: 1em rgba(0,0,0,0) solid;
        // margin-left: 5%;
        // margin-right: 5%;
      }

      .twitter-timeline {
        max-height: 600px;
      }
      overflow: scroll;
    }

    #youtube {
      @include mq(sm) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      @include mq(pc) {
        width: 65%;
        // margin-left: 1%;
        // margin-right: 5%;
        height: auto;
      }

      .youtube-field {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        margin-bottom: 1em;

        iframe {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .item {
      float: left;
    }

    :after {
      content: "";
      clear: both;
      display: block;
    }
  }
}
.area.first{
  @include mq(sm){
    margin-top: 0px;
  }
}

footer {
  background-color: rgb(34, 34, 34);
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;

  p {
    a {
      color: rgb(0, 9, 69);
    }
    margin-bottom: 0;
    text-align: center;
  }
}
// 以下news.htmlのスタイル
.s {
  img {
    width: 100%;
  }
}
