html
  head
    title To NIGHT MikuLive
    link(rel='stylesheet' href='./css/entry.css')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    //- <meta name="twitter:image" content="https://nightmiku.tokyo/img/icon.png" />
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/mikucard.jpg" />

  body
    .container
      img(src="./img/logo_color.jpg")
      //- h1 チケット取り置きフォーム
      .live-field
        h3.center 【チケット取り置き手順】
        ul
          li ① 下のフォームにメールアドレスまたはtwitterIDを入力し送信！
          li ② 出てきた画面をスクリーンショットして保存！
          li ③ 当日、会場でのチケット購入時にスクショ画面をスタッフにお見せください！

      .form-field
        //- form(class="cp_ipcheck" name="ticket" method="POST" action="./success.html" netlify)
        form(class="cp_ipcheck" name="ticket" method="POST" action="./success.html" netlify)
          p.check
            label
              <input placeholder="✔" class="option-input02 checkbox" type="checkbox" name="attend" value="attend" onKeyUp="save()"/> チケットを取りおく(¥1,000-)
          p.twitter
            label Twitter ID
              input(type="text" id="twitter-value" name="twitter" placeholder="@TwitterID" onKeyUp="save()")
          p.or OR
          P.mail
            label Email Addr
              input(type="text" id="email-value" name="emailaddr" placeholder="abc@example.co.jp" onKeyUp="save()")
          p
            button(type="submit") 送信
          .description-field
            p ※送信を押すとreCAPTCHAが表示されることがあります。
            p ※送信後に表示される画面を保存してください。
            
      
  script(src="./js/entry.js")
  <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-123985593-1');</script>
