html
  head
    title To NIGHT MikuLive
    link(rel='stylesheet' href='./css/base.css')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    <meta name="keyword" content="tokyo night miku live,tokyo,night,miku,live,東京,ナイト,ミク,ライブ,初音ミク,hatune miku,ボーカロイド,vocaloid,ライブ,live,バンド,band,バーチャル,virtual,ライブハウス,live house">
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/mikucard.jpg">
  body
    div#first-view
      header
        div#blind-cover 
        div#logo1
          #svg-anime
        div#logo2
          img(src='./img/logo_color.jpg')#logo-color
    .fixed
      .share-area
        ul
          a(href="http://twitter.com/share?url=nightmiku.tokyo")
            li#twitter-share 
          a(href="https://www.facebook.com/sharer/sharer.php?u=https://nightmiku.tokyo")
            li#facebook-share 
          a(href="http://line.me/R/msg/text/?https://nightmiku.tokyo")
            li#mail-share 
          
    .container
      .area#event
        .right
          #livetitle
            h2.pc Tokyo NIGHT Mikulive.
            h2.sm Event
          img(src='./img/poster-min.png')
          h3.description ボカロ×バンドサウンドの新感覚ライブを<br>あなたも体験してみませんか？
          ul
            li PLACE: 吉祥寺 CLAB SEATA
            li Open: 19:00, Start 19:30
            li Ticket: ¥1,000-
          .ticket
            h2 Ticket
            a(href="./entry.html")
              button チケット取り置きはこちら→
            .infomation-text
              p ↑こちらのフォームからメールアドレスまたはtwitterIDを送信後、表示された画面をスクリーンショットして、チケット購入時にお見せください！
              p 取り置きしてくれた方に特典として、Tokyo NIGHT Mikulive記念缶バッジをプレゼントします！
              img(src="./img/omake.png")
              h3.center 【チケット取り置き手順】
              ul
                li ① ↑のフォームにメールアドレスまたはtwitterIDを入力し送信！
                li ② 出てきた画面をスクリーンショットして保存！
                li ③ 当日、会場でのチケット購入時にスクショ画面をスタッフにお見せください！


 

          .map-feild
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8304823294025!2d139.57960731532904!3d35.705788936232075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee4702119d2d%3A0x3509b5fcc3d97eae!2sCLUB+SEATA!5e0!3m2!1sja!2sjp!4v1542824312368" frameborder="0" style="border:0" allowfullscreen></iframe>
          .theme-music
            .youtube
              h2 Theme Music
              .youtube-feild
                <iframe src="https://www.youtube.com/embed/HDECVaUqT-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .member-info
              .l
                img(src='./img/icon/comp.jpg')
                h3 路地裏ロジック
                p.illustrator アイコン:くぅ(@kuuuu)
              .r
                p 弾ける楽器: アコースティックギター
                    
                p 血液型: O型
                p 特技: 空想
                p 作品: 
                  a(href="https://nico.ms/sm33781113") 空蒼少女(NicoNico)

      .area#act
        .right
          #vocal
            h2.act-section Vocal
            .vocaloid
              h3 初音ミク
              h3 鏡音リン
              h3 鏡音レン
          
          #band-member
            h2.act-section BandMember
            .member-info
              .l
                img(src='./img/icon/dr.jpg')
                h3 やすぅ
              .r
                p 弾ける楽器: 
                  ul
                    li ドラム
                    li エレクトーン
                    li ピアノ
                    li リコーダー
                    
                p 血液型: A型
                p 特技: 睡眠
                p 作品: <a href='https://www.nicovideo.jp/watch/sm31071761'>【初投稿】空奏列車-band -cover-【叩いてみた】</a>
                p Link: 
                  ul
                    li <a href='https://twitter.com/shione_drum'>Twitter</a>
            
            .member-info
              .l.sm
                img(src='./img/icon/gt.jpg')
                h3 kurara
              .r
                p 弾ける楽器: エレキギター
                p 血液型: A型
                p 特技: ナンプレ
                p 作品: <a href='https://youtu.be/Ov-wEi8KQt8'>OVERCOME(オリジナルギターインスト曲)</a>
                p Links: 
                  ul
                    li <a href='https://twitter.com/kurara0131'>Twitter</a>
                    li <a href='https://www.youtube.com/channel/UCmL1geYKHekURW9xT_n_eXQ'>Youtube</a>
                    li <a href='https://com.nicovideo.jp/community/co1611483'>niconico</a>
              .l.pc
                img(src='./img/icon/gt.jpg')
                h3 kurara
                
            .member-info
              .l
                img(src='./img/icon/key.jpg')
                h3 たかとん
              .r
                p 弾ける楽器: 
                  ul
                    li ピアノ
                    li キーボード
                    li ドラム
                    
                p 血液型: B型
                p 特技: カードマジック
                p 作品: <a href='https://www.nicovideo.jp/watch/sm32344803'>RED SIGNAL BRAIN GAME</a>
                p Link: 
                  ul
                    li <a href='https://twitter.com/takaton0526'>Twitter</a>
                    li <a href='https://takaton-alive.wixsite.com/takatone'>HP</a>

            .member-info
              .l.sm
                img(src='./img/icon/ba.jpg')
                h3 おっくん
              .r
                p 弾ける楽器: 
                  ul
                    li ベース
                    li ドラム
                    li ピアノ
                p 血液型: B型
                p 特技: けん玉
                p 作品: <a href='https://youtu.be/kO74oYKbDBY'>Signs of Autumn</a>
                p Links: 
                  ul
                    li <a href='https://twitter.com/kinoko8812'>Twitter</a>
              .l.pc
                img(src='./img/icon/ba.jpg')
                h3 おっくん

      .area#sns
        .right
          #twitter-timeline-area
            <a class="twitter-timeline" data-dnt="true" data-theme="dark" href="https://twitter.com/ToNIGHTMiku?ref_src=twsrc%5Etfw">Tweets by ToNIGHTMiku</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      //- .area#about
      //-   .right
      //-     h2 本サークルについて
          
    footer
      p このHPに掲載されている作品は<a href='http://piapro.jp/license/pcl/summary'>ピアプロ・キャラクター・ライセンス</a>に基づいてクリプトン・フューチャー・メディア株式会社のキャラクター「初音ミク」を描いたものです。
      p copyright Tokyo NIGHT MikuLive 2018-
          
          
    script(src='//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js')
    script(src='./js/logo.js')
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123985593-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-123985593-1');</script>
