doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Tokyo Night Miku Live
    //- link(rel='stylesheet' href='css/grid.css')
    //- link(rel='stylesheet' href='css/screen.css')
    link(rel='stylesheet' href='css/define.css')
    link(rel='stylesheet' href='css/style.css')

  body
    header
      .icons
        ul
          li
            a(href='#live-info') Live
          li
            a(href='#about') About
          li
            a(href='#news') News
          li
            a(href='#access') Access
          li
            a(href='#garally') Garally
          li
            a(href='links') Links

    .area
      .s#logo
        img(src='./img/logo.png')
    //- .area
      .s#live-info
        h1.title Act.1
        p.title 吉祥寺 CLUB SEATA
        p.text 12/21 Nowloading...
    .area
      .s#about
        h1.title About
        .youtube-field
          <iframe class="youtube" src="https://www.youtube.com/embed/zkNzxsaCunU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        div
          .text
            h2 Message
            p 東京にファンメイドミクライブを！Tokyo NIGHT MikuLive.は、ボーカロイドとライブをこよなく愛する有志によって開催される、非営利ファンメイドライブです！ミク達が、生バンドで歌って踊る！参加者全員でノってアガれるライブです！記念すべき最初のライブはin吉祥寺！吉祥寺CLUB SEATAにて、メンバー一同、最高のライブをお届けします。
          .actor
            h2 Act.
            ul
              li 初音ミク
              li 鏡音リン
              li 鏡音レン
              li 巡音ルカ
              li band members
    .area
      .s#news
        h1.title News
        table
          tbody
            tr
              td.date 12月12日
              td.title こんにちは！！
            tr
              td.date 12月12日
              td.title こんにちは！！
            tr
              td.date 12月12日
              td.title こんにちは！！
              tr
                td.date 12月12日
                td.title こんにちは！！
              tr
                td.date 12月12日
                td.title こんにちは！！
              tr
                td.date 12月12日
                td.title こんにちは！！
                tr
                  td.date 12月12日
                  td.title こんにちは！！
                tr
                  td.date 12月12日
                  td.title こんにちは！！
                tr
                  td.date 12月12日
                  td.title こんにちは！！

    .area
      .s#access
        h1.title Access
        .map-field
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8317665805685!2d139.57962331524!3d35.705757336233944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee4702119d2d%3A0x3509b5fcc3d97eae!2sCLUB+SEATA!5e0!3m2!1sja!2sjp!4v1525010590420" frameborder="0" allowfullscreen></iframe>
    .area
      .s#gallery
        h1.title Garally
        p Nowloading...
    .area
      .s#links
        h1.title Links
        .icon Twiter
        .icon Youtube
        .icon Nico
    footer
      p この作品は<a href="http://piapro.jp/license/pcl/summary">ピアプロ・キャラクター・ライセンス</a>に基づいてクリプトン・フューチャー・メディア株式会社のキャラクター「○○○○」を描いたものです。
