html
  head
    title To NIGHT MikuLive
    link(rel='stylesheet' href='./css/base.css')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/icon.png" />
  body
    div#first-view
      header
        div#blind-cover 
        div#logo1
          #svg-anime
        div#logo2
          img(src='./img/logo_color.jpg')#logo-color
    .container
      .area#event
        .right
          #livetitle
            h2.pc Tokyo NIGHT Mikulive.
            h2.sm Event
          img(src='./img/poster-min.png')
          h3.description ボカロ×バンドサウンドの新感覚ライブを<br>あなたも体験してみませんか？
          ul
            li PLACE: 吉祥寺 CLAB SEATA
            li Open: 19:00, Start 19:30
            li Ticket: ¥1,000-
          .map-feild
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.8304823294025!2d139.57960731532904!3d35.705788936232075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee4702119d2d%3A0x3509b5fcc3d97eae!2sCLUB+SEATA!5e0!3m2!1sja!2sjp!4v1542824312368" frameborder="0" style="border:0" allowfullscreen></iframe>
          .youtube
            h2 Theme Music
            .youtube-feild
              <iframe src="https://www.youtube.com/embed/HDECVaUqT-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      .area#act
        .right
          #vocal
            h2.act-section Vocal
            .vocaloid
              h3 初音ミク
              h3 鏡音リン
              h3 鏡音レン
          
          #band-member
            h2.act-section BandMember
            .member-info
              .l
                img(src='./img/icon/dr.jpg')
                h3 やすぅ
              .r
                p 弾ける楽器: 
                  ul
                    li ドラム
                    li エレクトーン
                    li ピアノ
                    li リコーダー
                    
                p 血液型: A型
                p 特技: 睡眠
                p 作品: <a href='https://www.nicovideo.jp/watch/sm31071761'>【初投稿】空奏列車-band -cover-【叩いてみた】</a>
                p Link: 
                  ul
                    li <a href='https://twitter.com/shione_drum'>Twitter</a>
            
            .member-info
              .l.sm
                img(src='./img/icon/gt.jpg')
                h3 kurara
              .r
                p 弾ける楽器: エレキギター
                p 血液型: A型
                p 特技: ナンプレ
                p 作品: <a href='https://youtu.be/Ov-wEi8KQt8'>OVERCOME(オリジナルギターインスト曲)</a>
                p Links: 
                  ul
                    li <a href='https://twitter.com/shione_drum'>Twitter</a>
                    li <a href='https://www.youtube.com/channel/UCmL1geYKHekURW9xT_n_eXQ'>Youtube</a>
                    li <a href='https://com.nicovideo.jp/community/co1611483'>niconico</a>
              .l.pc
                img(src='./img/icon/gt.jpg')
                h3 kurara
                
            .member-info
              .l
                img(src='./img/icon/key.jpg')
                h3 たかとん
              .r
                p 弾ける楽器: 
                  ul
                    li ピアノ
                    li キーボード
                    li ドラム
                    
                p 血液型: B型
                p 特技: カードマジック
                p 作品: <a href='https://www.nicovideo.jp/watch/sm32344803'>RED SIGNAL BRAIN GAME</a>
                p Link: 
                  ul
                    li <a href='https://twitter.com/takaton052'>Twitter</a>
                    li <a href='https://takaton-alive.wixsite.com/takatone'>HP</a>

            .member-info
              .l.sm
                img(src='./img/icon/ba.jpg')
                h3 奥貫圭一朗
              .r
                p 弾ける楽器: 
                  ul
                    li ベース
                    li ドラム
                    li ピアノ
                p 血液型: B型
                p 特技: けん玉
                p 作品: <a href='https://youtu.be/kO74oYKbDBY'>Signs of Autumn</a>
                p Links: 
                  ul
                    li <a href='https://twitter.com/kinoko8812'>Twitter</a>
              .l.pc
                img(src='./img/icon/ba.jpg')
                h3 奥貫圭一朗

      
      //- .area#about
      //-   .right
      //-     h2 本サークルについて
          
    footer
      p このHPに掲載されている作品は<a href='http://piapro.jp/license/pcl/summary'>ピアプロ・キャラクター・ライセンス</a>に基づいてクリプトン・フューチャー・メディア株式会社のキャラクター「初音ミク」を描いたものです。
      p copyright Tokyo NIGHT MikuLive 2018-
          
          
    script(src='//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js')
    script(src='./js/logo.js')
