doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Tokyo Night Miku Live
    //- link(rel='stylesheet' href='css/grid.css')
    //- link(rel='stylesheet' href='css/screen.css')
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One" rel="stylesheet">
    link(rel='stylesheet' href='css/define.css')
    link(rel='stylesheet' href='css/style.css')
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/icon.png" />
  body
    header
      .icons#pc-menu
        ul
          li
            a(href='#live-info') Live
          li
            a(href='#about') About
          li
            a(href='#news') News
          li
            a(href='#access') Access
          li
            a(href='#gallery') Gallery
          li
            a(href='#links') Links
      .icons#sm-menu


    .area.first
      div.s-logo
        #logo.pc
          img(src='./img/mikuposter-pc-min.png')
        #logo.sm
          img(src='./img/mikuposter-sm-min.jpg')

    .area
      .s#live-info
        h1.title Live info
        p.title @ 吉祥寺 CLUB SEATA
        p.text Live: 12/21...
    .area
      .s#about
        h1.title About
        //- .youtube-field
        //-   <iframe class="youtube" src="https://www.youtube.com/embed/0c3jCyu28-A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        div
          .text
            h2 Message
            p 東京にファンメイドミクライブを！Tokyo NIGHT MikuLive.は、ボーカロイドとライブをこよなく愛する有志によって開催される、非営利ファンメイドライブです！ミク達が、生バンドで歌って踊る！参加者全員でノってアガれるライブです！記念すべき最初のライブはin吉祥寺！吉祥寺CLUB SEATAにて、メンバー一同、最高のライブをお届けします。
          .actor
            h2 Act.
            ul
              li 初音ミク
              li 鏡音リン
              li 鏡音レン
              li band members
    .area
      .s#news
        h1.title News
        table
          tbody
            tr
              td.date.pc  7月 6日
              td.date.sm  7/ 6
              td.title 公式HP公開
            //- tr
            //-   td.date.pc 12月12日
            //-   td.date.sm 12/12
            //-   td.title こんにちは！！
            //- tr
            //-   td.date.pc 12月12日
            //-   td.date.sm 12/12
            //-   td.title こんにちは！！
            //- tr
            //-   td.date.pc 12月12日
            //-   td.date.sm 12/12
            //-   td.title こんにちは！！
            //- tr
            //-   td.date.pc 12月12日
            //-   td.date.sm 12/12
            //-   td.title こんにちは！！

    .area
      .s#access
        h1.title Access
        .map-field
          <iframe src="https://www.google.com/maps/embed?key=AIzaSyBHUgY880hwHIG3EhvnABBKNVJP_S41w-0&pb=!1m18!1m12!1m3!1d3239.8317665805685!2d139.57962331524!3d35.705757336233944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ee4702119d2d%3A0x3509b5fcc3d97eae!2sCLUB+SEATA!5e0!3m2!1sja!2sjp!4v1525010590420" frameborder="0" allowfullscreen></iframe>
    .area
      .s#gallery
        h1.title Garally
        p ...
    .area
      .s#links
        h1.title Links
        .items
          .item#twitter
            <a class="twitter-timeline" data-height="600" data-theme="dark" href="https://twitter.com/ToNIGHTMiku?ref_src=twsrc%5Etfw">Tweets by magcho0527</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          //- .item#youtube
          //-   .youtube-field
          //-     <iframe class="youtube" src="https://www.youtube.com/embed/0c3jCyu28-A?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          .item#nico

    footer
      p このHPに掲載されている作品は<a href="http://piapro.jp/license/pcl/summary">ピアプロ・キャラクター・ライセンス</a>に基づいてクリプトン・フューチャー・メディア株式会社のキャラクター「初音ミク」を描いたものです。
      p copyright Tokyo Night MikuLive 2018-

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123985593-1"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-123985593-1');</script>
