html
  head
    title To NIGHT MikuLive
    link(rel='stylesheet' href='./css/entry.css')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    meta(charset='utf-8')
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/icon.png" />
    script(src="./js/success.js")
    script(src="http://html2canvas.hertzen.com/dist/html2canvas.min.js")
  body.success
    h1 チケット取り置きが完了しました
    p.description 下の画像を保存し、ライブ当日のチケット購入時にスタッフにお見せください
    div.palette#palette
      img(src="./img/success.png")
      div
        p#twitter 
        p#email 
    div.re
      img#result
