html
  head
    title To NIGHT MikuLive
    link(rel='stylesheet' href='./css/entry.css')
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ToNIGHTMiku" />
    <meta name="twitter:title" content="Tokyo Night MikuLive公式HP" />
    <meta name="twitter:description" content="【ライブハウス×ミクライブ 】ファンメイドミクライブ、TokyoNIGHTMikuLive公式ツイッターです！"/>
    <meta name="twitter:image" content="https://nightmiku.tokyo/img/icon.png" />
  body
    h1 チケット取り置きが完了しました
