@import url('https://fonts.googleapis.com/css?family=Iceland');
@import "./_media_query"
@import "./_checkbox"

body
  margin: 0
  padding: 0
  font-family: arial, sans-serif
  background:  rgb(246, 246, 246)
  // color: white

// font-family: 'Iceland', cursive;
.container
  img
    width: 70%
    margin: 0 auto;
    display: block;
  h1
    // font-size: 3em
    text-align: center;
  .live-field
    width: 100%
    .live-title
      font-family: arial, sans-serif;
  .form-field
    background: rgb(79, 79, 79)
    width: 100%
    margin: 0 auto;
    width: fit-content
    form
      color: white
      // padding: 5em
      padding-bottom: 1em
      p
        margin-left: 2em
        margin-right: 2em
        label
          width: 100%
      input[type="text"],
      textarea {
          width: 100%
          padding: 0.8em;
          outline: none;
          border: 1px solid #DDD;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          font-size: 16px;
      }
      textarea {
          width: 300px;
      }
      button
        margin-bottom: 1em
        display: block;
        width: 100%
        // margin: 0 auto;
        border:solid 1px #ccc;
        box-sizing: border-box;
        padding:15px 30px;
        // margin:0 0 20px;
        font-family:Arial, sans-serif;
        font-size:1.2em;
        text-transform:uppercase;
        font-weight:bold;
        color: white
        background-color: rgb(150, 150, 150)
        cursor:pointer;
      .or
        text-align: center;
        font-size: 2em
        margin: 0
      .mail,.twitter
        padding-top: 0
        margin-top: 0
      .check
        padding-top:1em
